<div class="container-fluid home">
	<div class="row text-center title">
		<h1>ShareMiam !</h1>
		<h3>"Mieux manger sans gaspiller"</h3>

		<nav class="navbar nav-pills nav-justified">	  	
	    	<li role="presentation" >
		    	<a routerLink="/">				
					<img src="/assets/img/cook.png" height="250">
					<h2>Visitez la <span class="amita">cuisine</span></h2>
				</a>
		  	</li>
		  	<li role="presentation">
		    	<a routerLink="/">				
					<img src="/assets/img/fridge.png" height="250">
					<h2>Consultez les <span class="amita">frigos</span></h2>
				</a>
		  	</li>	  	
		</nav>
	</div>
</div>



